.centrado
{
	margin-top: 5px;
}

.margenformulario
{
	margin-top: 10px;
}

.contenedor
{
	margin: auto;
	margin-top: 15px;
}

.menu{
  color: #fff;
  background-color: #2980b9;
  border-color: #4cae4c;
}

.colorfondo
{
	background-color: #f4fffe;
}

.menulateral
{
	background: #2980b9;
	height:400px;
	width:65px;
	border-radius:10px;
	overflow: hidden;
	-webkit-transition: width 0.5s;
	-moz-transition: width 0.5s;
	opacity:0.9;
}

div.menulateral:hover
{
	width:290px;
}

div#logo-principal
{
	height:40px;
	width:40px;
	margin:15px;
	margin-left:5px;
	background-image: url(../img/icosu2.ico);
}

div.contenedor-general
{
	width:240px;
	height:40px;
	margin-left: 5px;
}

div.logo-interior
{
	width: 40px;
	height: 40px;
	float: left;
}

div#icon-I{
	background-image: url(../img/datospersonales-icon.png);
}
div#icon-II{
	background-image: url(../img/insumosmedicos-icon.png);
}
div#icon-III{
	background-image: url(../img/reacciones-icon.png);
}
div#icon-IV{
	background-image: url(../img/concomitante-icon.png);
}
div#icon-V{
	background-image: url(../img/antecedentes-icon.png);
}
div#icon-VI{
	background-image: url(../img/datospersonales-icon.png);
}
div#icon-VII{
	background-image: url(../img/datospersonales-icon.png);
}

p.texto-menulateral
{
	margin-left: 60px;
	line-height: 40px;
}

.seleccion
{
	background:#fffffe;
	opacity: 1;
	border-radius:20px;
}

.tam
{
	width: 150px;
}


.texto-callado {
	color: #999999;
}

.footer
{
  margin-top: 20px;
  bottom: 0;
  z-index: 1030;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  border: 1px solid #d8d8d8;
  border-top-width: 2px;
  opacity: 0.7;
}

.contenedor-footer
{
  margin: auto;
}

.contenedor-footer .creditos {
  margin: 20px 0;
}


.logo_header
{
	height: 180px;
	width: 180px;
	float:left;	
	left:13%;
	border: 10px solid #2980b9;
	opacity:0.7;
	position:absolute;
	background: #f4fffe;
}

.texto_header
{
	text-align: right;
  bottom: 10px;
}


.texto_headerbanner
{
	text-align: right;
	margin-right: -100px;
  font-size: 22px;
  color: #34495e;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: -1px;
}

.texto_banner1
{
  text-align: center;
  margin-right: -70px;
  font-size: 22px;
  color: #34495e;
  font-weight: normal;
  letter-spacing: -1px;

}




/* BOOTSTRAP 3.x PAGINA DE INICIO
-------------------------------------------------- */



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;

}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 550px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 400px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the- text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 10px;
}
.marketing h3 {
  font-family: Walkway_SemiBold;
  font-size: 22px;
  color: #f39c12;
  font-weight: bold;
  line-height: 25px;
}

.marketing .col-lg-4 p {
  margin-left: 5px;
  margin-right: 5px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0px; /* Space out the Bootstrap <hr> more */
}

.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}

.featurette-image {
  margin-top: 10px; /* fotos principal. */
  height: 230px;
  width: 550px;
  margin-bottom: 15px;
}
.featurette-image2 {
  margin-top: 10px; /* fotos principal. */
  height: 335px;
  width: 449px;
  margin-bottom: 15px;
}

.footer-image {
   /* logo isoft. */
  height: 140px;
  width: 300px;
  margin-bottom: 15px;
}
.logosinraim {
 /* logo sinraim. */
  height: 140px;
  width: 280px;
}
/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading { 
  font-size: 22px;
  color: #3B88B6;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: -1px;
}

/* encabezado principal features */
.featurette-encabezadoprincipal {
  font-size: 50px;
  font-family: Walkway_SemiBold;
  font-weight: bold;
  color: #404148;
  letter-spacing: 4px;
}

/* encabezado principal features */
.featurette-desarrolladores {
  font-family: verdana;
  font-size: 30px;
  color: #16a085;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

